@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic,700italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$heading: 'PT Sans Narrow', sans-serif;
$summary: 'PT Sans', sans-serif;
$body: 'PT Serif', serif;



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    background: #fdfdfd;
    font-family: $summary;
    font-size: 18px;
    color: #111111;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
}





/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}




/**
 * Lists
 */
ul, ol {
    margin-left: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
    font-weight: 700;
    text-transform: uppercase;
}



p {
    margin-bottom: 1.5rem;
}


/**
 * Wrapper
 */
.wrapper {
    margin: 0 auto;
    width: 40rem;
    max-width: 94%;
    @extend %clearfix;
    position: relative;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

a.site-title {
    display: block;
    margin: 2rem 0;
    font-family: $heading;
    font-size: 3em;
    font-weight: 700;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav {
    text-align: center;
    margin-bottom: 2em;
    a.page-link {
        font-family: $summary;
        color: darkred;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 .5em;
        border-left: 1px solid darkred;
        border-right: 1px solid darkred;
        &:first-child, &:last-child {
            border: none;
        }
    }
}


.post-header, .page-header {
    text-align: center;
    .post-title, .page-title {
        font-size: 1.5em;
        line-height: 1em;
    }
    hr {
        border: none;
        height: 2px;
        width: 150px;
        margin: 1em auto;
        background: #222222;
    }
}

.page-header {
    text-align: left;
    margin-bottom: 1rem;
}

article.post-content, article.page-content {
    font-family: $body;
    text-align: justify;
}

footer {
    background: darken(#fdfdfd, 5%);
    border-top: 4px solid darken(#fdfdfd, 10%);
    margin-top: 2rem;
    padding: 2rem 0 4rem 0;
    .site-info {
        display: inline-block;
    }
    ul.social-media-list {
    position: absolute;
    right: 0;
    display: inline-block;
    list-style: none;
        li {
            display: inline-block;
            a {
                font-size: 3rem;
                color: lighten(#222222, 50%);
            }
        }
    }
    hr {
        border: none;
        height: 1px;
        width: 100%;
        background: lighten(#222222, 50%);
        margin-top: 2rem;
    }
    p.copyright {
        font-size: .75rem;
        text-align: center;
        color: lighten(#222222, 50%);
    }
}

.page-heading {
    font-size: 1rem;
    margin-bottom: .25rem;
}

.post-list {
    list-style: none;
    li {
        padding: 1rem;
        border-top: 1px solid lighten(#222222, 50%);
        &:last-child {
            border-bottom: 1px solid lighten(#222222, 50%);
        }
    }
    h2 a {
        font-size: 1.25rem;
        text-decoration: none;
        color: #222222;
        &:visited {
            color: lighten(#222222, 50%);
        }
    }
    .post-meta {
        font-family: $heading;
        font-size: .75em;
        color: lighten(#222222, 50%);
    }
}

.rss-subscribe {
    margin-top: .5rem;
    a {
        color: lighten(#222222, 50%);
        text-decoration: none;
    }
    i {
        color: orange;
    }
}

